*{ box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
/*event-card styling*/
.container{
    position: relative;
       width:90%;
    height:600px;  
    margin: 0 auto;
    
}
.event__container{
    width: 90%;
    height:inherit;
    position: relative;
    margin: auto;
    overflow: hidden;
}
   
.event-list{
    padding: 0px;
    display: flex;
    justify-content:space-between;
    column-gap: 50px;
    overflow-x:scroll;
}

.item
{ min-width:max(300px,30%);
border-radius: 10px;
padding: 5px;
transition: transform 1s;

}
.event-card{
     width: 100%;
     box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
     border: 0;
     border-radius: 10px;
            
}

.event-img{
   width: 100%; 
   height: 300px;
   overflow: hidden;
 object-fit: cover;
 padding: 10px;
}


.text{
    padding: 20px 50px;
    overflow: hidden;
}
.event__btn{
   
    position: absolute;
     background: white;
   border:0;
  
}
.event__btn img{
    
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, .3);
}
.event__btn--left{
    top: 50%;
    left: -22px;
    transform: translateY(-50%);
    float: left;
}
.event__btn--right{
     left: 100%;
    bottom: 50%;
    transform: translateY(50%);
    float: right;
}






/*slider properties*/
.slider{
    position: absolute;
}
.event-list::-webkit-scrollbar{
    width: 0px;
    
    }

